In [1]:
import pandas as pd
import numpy as np

 # Rate of return csv

In [2]:
df = pd.read_csv("./data/raw_data.csv")

In [3]:
df=df[df.DATAYM>="2005-03-01"] #Data with missing values prior to 2005-03-01, so we select data after 2005-03-01

In [4]:
Market_AR = pd.pivot_table(df, values="RET1M",index=['DATAYM'],columns=['BNPNAME'],aggfunc=np.nanmean) #Market Average Return

In [5]:
Market_AR

BNPNAME,Asia Bond,Asia Equity,Creat China Equity,EmgMkt Bond,EmgMkt Equity,Europe Bond,Europe Equity,Global Bond,Global Equity,HY Bond,Multi Asset,Other Bond,Other Equity,US Bond,US Equity
DATAYM,,,,,,,,,,,,,,,
2005-03-01,-0.026233,-0.039073,-0.025189,-0.028315,-0.074342,-0.019782,-0.036253,-0.013501,-0.026829,-0.034274,-0.019624,-0.011387,-0.030014,-0.008063,-0.021921
2005-04-01,0.013158,-0.015145,-0.003894,0.008238,-0.026137,0.010342,-0.030501,0.012786,-0.028435,-0.009159,-0.008806,0.007961,-0.027334,0.015329,-0.038724
2005-05-01,0.006197,0.002845,0.007545,0.020345,0.064414,-0.037683,0.004819,-0.002484,0.021450,-0.008269,0.007702,-0.002686,0.034811,0.009653,0.050632
2005-06-01,0.006115,0.016561,0.021019,0.018960,0.040742,-0.013574,0.024335,0.003132,0.014372,0.009432,0.008099,-0.008131,0.027478,0.006171,0.018461
2005-07-01,-0.002991,0.044359,0.064497,0.009638,0.063963,0.001268,0.053741,-0.006460,0.039087,0.015197,0.012269,-0.011955,0.062231,-0.009514,0.051516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-01,0.003995,0.010000,0.039612,0.011720,0.016863,0.009437,0.018414,0.005860,0.005691,0.016568,0.007271,0.006008,-0.013889,0.000334,0.008302
2016-09-01,0.006397,0.014822,0.016289,0.012594,0.004862,0.002808,0.007003,0.004074,0.006599,0.008626,0.008115,0.015702,0.017595,0.005284,0.000337
2016-10-01,-0.005708,-0.012869,-0.019154,-0.006103,0.022129,-0.029017,-0.015129,-0.003835,-0.018408,-0.002901,-0.014389,-0.007854,-0.031305,-0.005073,-0.021078
2016-11-01,-0.027629,-0.030805,-0.016125,-0.050418,-0.070425,-0.038609,-0.013771,-0.023037,0.004957,-0.017318,-0.016785,-0.043054,0.007577,-0.024381,0.058761
2016-12-01,-0.004972,-0.008092,-0.038824,0.011322,0.001646,-0.001908,0.053209,0.003231,0.014332,0.006976,0.001157,0.009814,0.011475,0.000944,0.016400

In [6]:
Market_MR = pd.pivot_table(df, values="RET1M",index=['DATAYM'],columns=['BNPNAME'],aggfunc=np.nanmax) #Market Maximum Return

In [7]:
Market_MR

BNPNAME,Asia Bond,Asia Equity,Creat China Equity,EmgMkt Bond,EmgMkt Equity,Europe Bond,Europe Equity,Global Bond,Global Equity,HY Bond,Multi Asset,Other Bond,Other Equity,US Bond,US Equity
DATAYM,,,,,,,,,,,,,,,
2005-03-01,-0.018872,0.007458,0.036852,-0.015151,-0.034411,-0.015631,-0.001935,0.001075,-0.013038,-0.015925,-0.002731,-0.011387,0.028765,-0.000396,0.002786
2005-04-01,0.018251,0.026202,0.046916,0.030717,0.012895,0.019860,0.001609,0.019789,0.001772,0.001901,-0.001485,0.007961,0.056239,0.038638,-0.006672
2005-05-01,0.016100,0.066063,0.076154,0.035244,0.098514,-0.033909,0.033634,0.007387,0.056058,0.020676,0.022114,-0.002686,0.121126,0.031362,0.088622
2005-06-01,0.008048,0.043472,0.045205,0.038533,0.066529,-0.009324,0.074782,0.017287,0.035947,0.025526,0.029580,-0.008131,0.114242,0.021636,0.050380
2005-07-01,0.000499,0.127940,0.218955,0.018563,0.098361,0.006714,0.108451,0.000836,0.073191,0.023425,0.035193,-0.011955,0.165934,0.001923,0.088409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-01,0.012357,0.060500,0.083900,0.040536,0.050700,0.013259,0.045500,0.017267,0.046462,0.047177,0.038380,0.023646,0.074161,0.008849,0.032099
2016-09-01,0.041608,0.092900,0.066664,0.064911,0.042105,0.008575,0.044800,0.032534,0.038721,0.051403,0.059137,0.022472,0.119545,0.045320,0.040577
2016-10-01,0.017624,0.092532,0.017804,0.026500,0.122800,-0.003491,0.037964,0.042770,0.019100,0.031689,0.024555,-0.002384,0.112373,0.024453,0.009267
2016-11-01,-0.003500,0.060800,0.053506,-0.016543,-0.003000,-0.011300,0.037600,0.008500,0.061690,0.013738,0.025038,-0.023679,0.221044,-0.004300,0.131652
2016-12-01,0.028828,0.073765,0.013682,0.052576,0.052781,0.015900,0.124200,0.035687,0.061409,0.053088,0.046434,0.018325,0.138300,0.039679,0.042068

In [8]:
Market_mR = pd.pivot_table(df, values="RET1M",index=['DATAYM'],columns=['BNPNAME'],aggfunc=np.nanmin) #Market minimum Return

In [9]:
Market_mR

BNPNAME,Asia Bond,Asia Equity,Creat China Equity,EmgMkt Bond,EmgMkt Equity,Europe Bond,Europe Equity,Global Bond,Global Equity,HY Bond,Multi Asset,Other Bond,Other Equity,US Bond,US Equity
DATAYM,,,,,,,,,,,,,,,
2005-03-01,-0.030126,-0.112836,-0.081976,-0.044519,-0.106364,-0.026702,-0.102303,-0.024663,-0.051839,-0.050955,-0.031080,-0.011387,-0.130021,-0.020333,-0.042528
2005-04-01,0.008892,-0.070772,-0.052849,-0.001131,-0.052729,0.001941,-0.064521,0.000363,-0.053629,-0.020618,-0.018612,0.007961,-0.107639,0.001929,-0.081275
2005-05-01,0.000993,-0.038932,-0.078205,-0.020794,0.023797,-0.041975,-0.022459,-0.022177,-0.002294,-0.053260,-0.001830,-0.002686,-0.035137,0.000000,0.014075
2005-06-01,0.004542,-0.056440,-0.016784,0.002667,0.012544,-0.021030,0.001322,-0.007897,-0.006705,-0.009956,-0.002364,-0.008131,-0.033455,-0.000953,-0.027995
2005-07-01,-0.006730,-0.027040,-0.056808,-0.001139,0.015404,-0.003451,0.009445,-0.018584,0.008598,0.002320,-0.004340,-0.011955,-0.027375,-0.033824,0.024240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-08-01,-0.015469,-0.086100,0.000000,-0.042227,-0.061471,0.003366,-0.014100,-0.009197,-0.025467,-0.001552,-0.016253,-0.015672,-0.167700,-0.013607,-0.019620
2016-09-01,-0.007000,-0.056700,-0.047100,-0.004800,-0.039429,-0.004100,-0.023915,-0.011700,-0.013731,-0.011800,-0.009000,0.006897,-0.050435,-0.015085,-0.025200
2016-10-01,-0.021500,-0.070500,-0.059560,-0.030699,-0.026700,-0.055686,-0.071700,-0.030111,-0.056978,-0.057703,-0.069300,-0.011193,-0.123100,-0.043800,-0.056300
2016-11-01,-0.064422,-0.128900,-0.065168,-0.097227,-0.139485,-0.050610,-0.142100,-0.063286,-0.051851,-0.041597,-0.065502,-0.060613,-0.160700,-0.082139,0.004359
2016-12-01,-0.042299,-0.065474,-0.094636,-0.028394,-0.038920,-0.017483,0.014200,-0.032547,-0.021539,-0.022570,-0.058427,-0.001826,-0.069787,-0.029553,-0.022504

In [10]:
ls=['DataTime',
    'Asia Bond open', 'Asia Bond high', 'Asia Bond low', 'Asia Bond close','Asia Bond volume', 
    'Asia Equity open','Asia Equity high','Asia Equity low','Asia Equity close','Asia Equity volume',
    'Creat China Equity open','Creat China Equity high','Creat China Equity low','Creat China Equity close','Creat China Equity volume',   
    'EmgMkt Bond open','EmgMkt Bond high','EmgMkt Bond low','EmgMkt Bond close','EmgMkt Bond volume',
    'EmgMkt Equity open','EmgMkt Equity high','EmgMkt Equity low','EmgMkt Equity close','EmgMkt Equity volume', 
    'Europe Bond open','Europe Bond high','Europe Bond low','Europe Bond close','Europe Bond volume', 
    'Europe Equity open','Europe Equity high','Europe Equity low','Europe Equity close','Europe Equity volume', 
    'Global Bond open','Global Bond high','Global Bond low','Global Bond close','Global Bond volume',
    'Global Equity open','Global Equity high','Global Equity low','Global Equity close','Global Equity volume', 
    'HY Bond open','HY Bond high','HY Bond low','HY Bond close','HY Bond volume', 
    'Multi Asset open','Multi Asset high','Multi Asset low','Multi Asset close','Multi Asset volume', 
    'Other Bond open','Other Bond high','Other Bond low','Other Bond close','Other Bond volume', 
    'Other Equity open','Other Equity high','Other Equity low','Other Equity close','Other Equity volume',
    'US Bond open','US Bond high','US Bond low','US Bond close','US Bond volume', 
    'US Equity open','US Equity high','US Equity low','US Equity close','US Equity volume']

In [11]:
df=pd.DataFrame(np.random.randn(141,76),columns=ls)

In [12]:
df['DataTime']=Market_AR.index[:-1]

In [13]:
vol=[1]*141

In [14]:
#volume
df.iloc[:,5] = vol
df.iloc[:,10] = vol
df.iloc[:,15] = vol
df.iloc[:,20] = vol
df.iloc[:,25] = vol
df.iloc[:,30] = vol
df.iloc[:,35] = vol
df.iloc[:,40] = vol
df.iloc[:,45] = vol
df.iloc[:,50] = vol
df.iloc[:,55] = vol
df.iloc[:,60] = vol
df.iloc[:,65] = vol
df.iloc[:,70] = vol
df.iloc[:,75] = vol

In [15]:
#open
df.iloc[:,1] = Market_AR.iloc[:-1,0].values
df.iloc[:,6] = Market_AR.iloc[:-1,1].values
df.iloc[:,11] = Market_AR.iloc[:-1,2].values
df.iloc[:,16] = Market_AR.iloc[:-1,3].values
df.iloc[:,21] = Market_AR.iloc[:-1,4].values
df.iloc[:,26] = Market_AR.iloc[:-1,5].values
df.iloc[:,31] = Market_AR.iloc[:-1,6].values
df.iloc[:,36] = Market_AR.iloc[:-1,7].values
df.iloc[:,41] = Market_AR.iloc[:-1,8].values
df.iloc[:,46] = Market_AR.iloc[:-1,9].values
df.iloc[:,51] = Market_AR.iloc[:-1,10].values
df.iloc[:,56] = Market_AR.iloc[:-1,11].values
df.iloc[:,61] = Market_AR.iloc[:-1,12].values
df.iloc[:,66] = Market_AR.iloc[:-1,13].values
df.iloc[:,71] = Market_AR.iloc[:-1,14].values

In [16]:
#high
df.iloc[:,2] = Market_MR.iloc[:-1,0].values
df.iloc[:,7] = Market_MR.iloc[:-1,1].values
df.iloc[:,12] = Market_MR.iloc[:-1,2].values
df.iloc[:,17] = Market_MR.iloc[:-1,3].values
df.iloc[:,22] = Market_MR.iloc[:-1,4].values
df.iloc[:,27] = Market_MR.iloc[:-1,5].values
df.iloc[:,32] = Market_MR.iloc[:-1,6].values
df.iloc[:,37] = Market_MR.iloc[:-1,7].values
df.iloc[:,42] = Market_MR.iloc[:-1,8].values
df.iloc[:,47] = Market_MR.iloc[:-1,9].values
df.iloc[:,52] = Market_MR.iloc[:-1,10].values
df.iloc[:,57] = Market_MR.iloc[:-1,11].values
df.iloc[:,62] = Market_MR.iloc[:-1,12].values
df.iloc[:,67] = Market_MR.iloc[:-1,13].values
df.iloc[:,72] = Market_MR.iloc[:-1,14].values

In [17]:
#low
df.iloc[:,3] = Market_mR.iloc[:-1,0].values
df.iloc[:,8] = Market_mR.iloc[:-1,1].values
df.iloc[:,13] = Market_mR.iloc[:-1,2].values
df.iloc[:,18] = Market_mR.iloc[:-1,3].values
df.iloc[:,23] = Market_mR.iloc[:-1,4].values
df.iloc[:,28] = Market_mR.iloc[:-1,5].values
df.iloc[:,33] = Market_mR.iloc[:-1,6].values
df.iloc[:,38] = Market_mR.iloc[:-1,7].values
df.iloc[:,43] = Market_mR.iloc[:-1,8].values
df.iloc[:,48] = Market_mR.iloc[:-1,9].values
df.iloc[:,53] = Market_mR.iloc[:-1,10].values
df.iloc[:,58] = Market_mR.iloc[:-1,11].values
df.iloc[:,63] = Market_mR.iloc[:-1,12].values
df.iloc[:,68] = Market_mR.iloc[:-1,13].values
df.iloc[:,73] = Market_mR.iloc[:-1,14].values

In [18]:
#close
df.iloc[:,4] = Market_AR.iloc[1:,0].values
df.iloc[:,9] = Market_AR.iloc[1:,1].values
df.iloc[:,14] = Market_AR.iloc[1:,2].values
df.iloc[:,19] = Market_AR.iloc[1:,3].values
df.iloc[:,24] = Market_AR.iloc[1:,4].values
df.iloc[:,29] = Market_AR.iloc[1:,5].values
df.iloc[:,34] = Market_AR.iloc[1:,6].values
df.iloc[:,39] = Market_AR.iloc[1:,7].values
df.iloc[:,44] = Market_AR.iloc[1:,8].values
df.iloc[:,49] = Market_AR.iloc[1:,9].values
df.iloc[:,54] = Market_AR.iloc[1:,10].values
df.iloc[:,59] = Market_AR.iloc[1:,11].values
df.iloc[:,64] = Market_AR.iloc[1:,12].values
df.iloc[:,65] = Market_AR.iloc[1:,13].values
df.iloc[:,74] = Market_AR.iloc[1:,14].values

In [19]:
df

,DataTime,Asia Bond open,Asia Bond high,Asia Bond low,Asia Bond close,Asia Bond volume,Asia Equity open,Asia Equity high,Asia Equity low,Asia Equity close,...,US Bond open,US Bond high,US Bond low,US Bond close,US Bond volume,US Equity open,US Equity high,US Equity low,US Equity close,US Equity volume
0,2005-03-01,-0.026233,-0.018872,-0.030126,0.013158,1,-0.039073,0.007458,-0.112836,-0.015145,...,-0.008063,-0.000396,-0.020333,-1.390668,1,-0.021921,0.002786,-0.042528,-0.038724,1
1,2005-04-01,0.013158,0.018251,0.008892,0.006197,1,-0.015145,0.026202,-0.070772,0.002845,...,0.015329,0.038638,0.001929,-0.445374,1,-0.038724,-0.006672,-0.081275,0.050632,1
2,2005-05-01,0.006197,0.016100,0.000993,0.006115,1,0.002845,0.066063,-0.038932,0.016561,...,0.009653,0.031362,0.000000,-0.544995,1,0.050632,0.088622,0.014075,0.018461,1
3,2005-06-01,0.006115,0.008048,0.004542,-0.002991,1,0.016561,0.043472,-0.056440,0.044359,...,0.006171,0.021636,-0.000953,0.548794,1,0.018461,0.050380,-0.027995,0.051516,1
4,2005-07-01,-0.002991,0.000499,-0.006730,0.006146,1,0.044359,0.127940,-0.027040,0.001505,...,-0.009514,0.001923,-0.033824,1.201796,1,0.051516,0.088409,0.024240,-0.016472,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2016-07-01,0.020108,0.069872,0.002000,0.003995,1,0.047460,0.128027,-0.049800,0.010000,...,0.015500,0.075301,-0.000600,0.802465,1,0.046913,0.097227,0.014715,0.008302,1
137,2016-08-01,0.003995,0.012357,-0.015469,0.006397,1,0.010000,0.060500,-0.086100,0.014822,...,0.000334,0.008849,-0.013607,1.433679,1,0.008302,0.032099,-0.019620,0.000337,1
138,2016-09-01,0.006397,0.041608,-0.007000,-0.005708,1,0.014822,0.092900,-0.056700,-0.012869,...,0.005284,0.045320,-0.015085,-1.663517,1,0.000337,0.040577,-0.025200,-0.021078,1
139,2016-10-01,-0.005708,0.017624,-0.021500,-0.027629,1,-0.012869,0.092532,-0.070500,-0.030805,...,-0.005073,0.024453,-0.043800,0.747239,1,-0.021078,0.009267,-0.056300,0.058761,1
140,2016-11-01,-0.027629,-0.003500,-0.064422,-0.004972,1,-0.030805,0.060800,-0.128900,-0.008092,...,-0.024381,-0.004300,-0.082139,0.243132,1,0.058761,0.131652,0.004359,0.016400,1

 # Rate of return csv

In [20]:
df.to_csv("./data/Data_preprocessing.csv")

 # Change Rate of return to True Price

In [21]:
open_initial = 1

In [22]:
df["Asia Bond open"] = np.cumprod(df["Asia Bond open"]+1)

In [23]:
df

,DataTime,Asia Bond open,Asia Bond high,Asia Bond low,Asia Bond close,Asia Bond volume,Asia Equity open,Asia Equity high,Asia Equity low,Asia Equity close,...,US Bond open,US Bond high,US Bond low,US Bond close,US Bond volume,US Equity open,US Equity high,US Equity low,US Equity close,US Equity volume
0,2005-03-01,0.973767,-0.018872,-0.030126,0.013158,1,-0.039073,0.007458,-0.112836,-0.015145,...,-0.008063,-0.000396,-0.020333,-1.390668,1,-0.021921,0.002786,-0.042528,-0.038724,1
1,2005-04-01,0.986580,0.018251,0.008892,0.006197,1,-0.015145,0.026202,-0.070772,0.002845,...,0.015329,0.038638,0.001929,-0.445374,1,-0.038724,-0.006672,-0.081275,0.050632,1
2,2005-05-01,0.992693,0.016100,0.000993,0.006115,1,0.002845,0.066063,-0.038932,0.016561,...,0.009653,0.031362,0.000000,-0.544995,1,0.050632,0.088622,0.014075,0.018461,1
3,2005-06-01,0.998764,0.008048,0.004542,-0.002991,1,0.016561,0.043472,-0.056440,0.044359,...,0.006171,0.021636,-0.000953,0.548794,1,0.018461,0.050380,-0.027995,0.051516,1
4,2005-07-01,0.995777,0.000499,-0.006730,0.006146,1,0.044359,0.127940,-0.027040,0.001505,...,-0.009514,0.001923,-0.033824,1.201796,1,0.051516,0.088409,0.024240,-0.016472,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2016-07-01,1.555739,0.069872,0.002000,0.003995,1,0.047460,0.128027,-0.049800,0.010000,...,0.015500,0.075301,-0.000600,0.802465,1,0.046913,0.097227,0.014715,0.008302,1
137,2016-08-01,1.561954,0.012357,-0.015469,0.006397,1,0.010000,0.060500,-0.086100,0.014822,...,0.000334,0.008849,-0.013607,1.433679,1,0.008302,0.032099,-0.019620,0.000337,1
138,2016-09-01,1.571947,0.041608,-0.007000,-0.005708,1,0.014822,0.092900,-0.056700,-0.012869,...,0.005284,0.045320,-0.015085,-1.663517,1,0.000337,0.040577,-0.025200,-0.021078,1
139,2016-10-01,1.562974,0.017624,-0.021500,-0.027629,1,-0.012869,0.092532,-0.070500,-0.030805,...,-0.005073,0.024453,-0.043800,0.747239,1,-0.021078,0.009267,-0.056300,0.058761,1
140,2016-11-01,1.519791,-0.003500,-0.064422,-0.004972,1,-0.030805,0.060800,-0.128900,-0.008092,...,-0.024381,-0.004300,-0.082139,0.243132,1,0.058761,0.131652,0.004359,0.016400,1

In [24]:
df = pd.read_csv("./data/Data_preprocessing.csv")
df = df.drop("Unnamed: 0", axis = 1)

In [25]:
L = list(df.columns)

In [26]:
close_L = [4 + i*5 for i in range(15)]

In [27]:
vol_L = [5 + i*5 for i in range(15)]

In [28]:
Others_L = list(range(1,76))
for i in range(len(close_L)):
    Others_L.remove(close_L[i])
    Others_L.remove(vol_L[i])

In [29]:
for i in Others_L:
    df.iloc[:,i] = np.cumprod(df.iloc[:,i]+1)

In [30]:
df

,DataTime,Asia Bond open,Asia Bond high,Asia Bond low,Asia Bond close,Asia Bond volume,Asia Equity open,Asia Equity high,Asia Equity low,Asia Equity close,...,US Bond open,US Bond high,US Bond low,US Bond close,US Bond volume,US Equity open,US Equity high,US Equity low,US Equity close,US Equity volume
0,2005-03-01,0.973767,0.981128,0.969874,0.013158,1,0.960927,1.007458,0.887164,-0.015145,...,0.991937,0.999604,0.979667,-1.390668,1,0.978079,1.002786,0.957472,-0.038724,1
1,2005-04-01,0.986580,0.999035,0.978498,0.006197,1,0.946374,1.033856,0.824377,0.002845,...,1.007142,1.038226,0.981557,-0.445374,1,0.940204,0.996095,0.879653,0.050632,1
2,2005-05-01,0.992693,1.015119,0.979470,0.006115,1,0.949067,1.102155,0.792283,0.016561,...,1.016864,1.070787,0.981557,-0.544995,1,0.987808,1.084371,0.892034,0.018461,1
3,2005-06-01,0.998764,1.023289,0.983919,-0.002991,1,0.964784,1.150068,0.747567,0.044359,...,1.023139,1.093955,0.980621,0.548794,1,1.006044,1.139001,0.867061,0.051516,1
4,2005-07-01,0.995777,1.023800,0.977297,0.006146,1,1.007581,1.297207,0.727353,0.001505,...,1.013405,1.096059,0.947453,1.201796,1,1.057872,1.239699,0.888079,-0.016472,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2016-07-01,1.555739,16.307487,0.103639,0.003995,1,2.091014,97760.934212,0.000022,0.010000,...,1.556084,67.933025,0.032404,0.802465,1,1.978563,216.875142,0.010702,0.008302,1
137,2016-08-01,1.561954,16.508995,0.102036,0.006397,1,2.111925,103675.470732,0.000020,0.014822,...,1.556604,68.534188,0.031963,1.433679,1,1.994990,223.836591,0.010492,0.000337,1
138,2016-09-01,1.571947,17.195903,0.101321,-0.005708,1,2.143227,113306.921963,0.000019,-0.012869,...,1.564829,71.640158,0.031481,-1.663517,1,1.995663,232.919206,0.010227,-0.021078,1
139,2016-10-01,1.562974,17.498970,0.099143,-0.027629,1,2.115647,123791.454180,0.000017,-0.030805,...,1.556892,73.391954,0.030102,0.747239,1,1.953598,235.077746,0.009651,0.058761,1
140,2016-11-01,1.519791,17.437724,0.092756,-0.004972,1,2.050475,131317.974594,0.000015,-0.008092,...,1.518934,73.076368,0.027630,0.243132,1,2.068393,266.026108,0.009694,0.016400,1

In [31]:
Last = df.iloc[:,close_L].loc[140]

In [32]:
open_L = [1 + i*5 for i in range(15)]

In [33]:
df.iloc[:,close_L].loc[0:139] = (df.iloc[:,open_L].loc[1:]).values

/Users/chu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/chu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df.iloc[:,close_L].iloc[0:140,:]

,Asia Bond close,Asia Equity close,Creat China Equity close,EmgMkt Bond close,EmgMkt Equity close,Europe Bond close,Europe Equity close,Global Bond close,Global Equity close,HY Bond close,Multi Asset close,Other Bond close,Other Equity close,US Bond close,US Equity close
0,0.013158,-0.015145,-0.003894,0.008238,-0.026137,0.010342,-0.030501,0.012786,-0.028435,-0.009159,-0.008806,0.007961,-0.027334,-1.390668,-0.038724
1,0.006197,0.002845,0.007545,0.020345,0.064414,-0.037683,0.004819,-0.002484,0.021450,-0.008269,0.007702,-0.002686,0.034811,-0.445374,0.050632
2,0.006115,0.016561,0.021019,0.018960,0.040742,-0.013574,0.024335,0.003132,0.014372,0.009432,0.008099,-0.008131,0.027478,-0.544995,0.018461
3,-0.002991,0.044359,0.064497,0.009638,0.063963,0.001268,0.053741,-0.006460,0.039087,0.015197,0.012269,-0.011955,0.062231,0.548794,0.051516
4,0.006146,0.001505,-0.035286,0.008562,0.029358,0.015249,0.027723,0.006105,0.007910,0.009829,-0.008515,-0.023597,-0.000888,1.201796,-0.016472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,0.020108,0.047460,0.035954,0.021290,0.050206,0.013700,0.036633,0.014901,0.044637,0.027173,0.033528,0.026585,0.052554,0.456403,0.046913
136,0.003995,0.010000,0.039612,0.011720,0.016863,0.009437,0.018414,0.005860,0.005691,0.016568,0.007271,0.006008,-0.013889,0.802465,0.008302
137,0.006397,0.014822,0.016289,0.012594,0.004862,0.002808,0.007003,0.004074,0.006599,0.008626,0.008115,0.015702,0.017595,1.433679,0.000337
138,-0.005708,-0.012869,-0.019154,-0.006103,0.022129,-0.029017,-0.015129,-0.003835,-0.018408,-0.002901,-0.014389,-0.007854,-0.031305,-1.663517,-0.021078
139,-0.027629,-0.030805,-0.016125,-0.050418,-0.070425,-0.038609,-0.013771,-0.023037,0.004957,-0.017318,-0.016785,-0.043054,0.007577,0.747239,0.058761

In [35]:
df.iloc[:,open_L].iloc[1:,:]

,Asia Bond open,Asia Equity open,Creat China Equity open,EmgMkt Bond open,EmgMkt Equity open,Europe Bond open,Europe Equity open,Global Bond open,Global Equity open,HY Bond open,Multi Asset open,Other Bond open,Other Equity open,US Bond open,US Equity open
1,0.986580,0.946374,0.971014,0.979690,0.901463,0.990355,0.934352,0.999112,0.945499,0.956881,0.971742,0.996483,0.943472,1.007142,0.940204
2,0.992693,0.949067,0.978341,0.999622,0.959530,0.953035,0.938855,0.996631,0.965780,0.948968,0.979227,0.993807,0.976316,1.016864,0.987808
3,0.998764,0.964784,0.998905,1.018574,0.998623,0.940099,0.961701,0.999753,0.979661,0.957918,0.987158,0.985726,1.003143,1.023139,1.006044
4,0.995777,1.007581,1.063331,1.028391,1.062498,0.941291,1.013385,0.993295,1.017953,0.972476,0.999270,0.973942,1.065570,1.013405,1.057872
5,1.001897,1.009098,1.025811,1.037196,1.093690,0.955644,1.041478,0.999359,1.026005,0.982035,0.990762,0.950960,1.064624,1.026098,1.040447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,1.555739,2.091014,2.346332,1.664643,2.146636,1.352563,1.504710,1.481133,1.461280,1.603526,1.658334,1.318509,1.976313,1.556084,1.978563
137,1.561954,2.111925,2.439274,1.684153,2.182835,1.365327,1.532417,1.489812,1.469596,1.630093,1.670391,1.326431,1.948865,1.556604,1.994990
138,1.571947,2.143227,2.479009,1.705363,2.193447,1.369161,1.543149,1.495882,1.479294,1.644154,1.683946,1.347258,1.983155,1.564829,1.995663
139,1.562974,2.115647,2.431525,1.694955,2.241985,1.329432,1.519803,1.490146,1.452063,1.639385,1.659715,1.336677,1.921071,1.556892,1.953598
140,1.519791,2.050475,2.392318,1.609499,2.084094,1.278104,1.498873,1.455816,1.459262,1.610995,1.631856,1.279128,1.935627,1.518934,2.068393

In [36]:
df.iloc[:,close_L].iloc[0:140,:] = df.iloc[:,open_L].iloc[1:,:].values

/Users/chu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/chu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
df_close = df.iloc[:,close_L]

In [38]:
df_close.head()

,Asia Bond close,Asia Equity close,Creat China Equity close,EmgMkt Bond close,EmgMkt Equity close,Europe Bond close,Europe Equity close,Global Bond close,Global Equity close,HY Bond close,Multi Asset close,Other Bond close,Other Equity close,US Bond close,US Equity close
0,0.013158,-0.015145,-0.003894,0.008238,-0.026137,0.010342,-0.030501,0.012786,-0.028435,-0.009159,-0.008806,0.007961,-0.027334,-1.390668,-0.038724
1,0.006197,0.002845,0.007545,0.020345,0.064414,-0.037683,0.004819,-0.002484,0.021450,-0.008269,0.007702,-0.002686,0.034811,-0.445374,0.050632
2,0.006115,0.016561,0.021019,0.018960,0.040742,-0.013574,0.024335,0.003132,0.014372,0.009432,0.008099,-0.008131,0.027478,-0.544995,0.018461
3,-0.002991,0.044359,0.064497,0.009638,0.063963,0.001268,0.053741,-0.006460,0.039087,0.015197,0.012269,-0.011955,0.062231,0.548794,0.051516
4,0.006146,0.001505,-0.035286,0.008562,0.029358,0.015249,0.027723,0.006105,0.007910,0.009829,-0.008515,-0.023597,-0.000888,1.201796,-0.016472

In [39]:
df_open = df.iloc[:,open_L]

In [40]:
df_open.head()

,Asia Bond open,Asia Equity open,Creat China Equity open,EmgMkt Bond open,EmgMkt Equity open,Europe Bond open,Europe Equity open,Global Bond open,Global Equity open,HY Bond open,Multi Asset open,Other Bond open,Other Equity open,US Bond open,US Equity open
0,0.973767,0.960927,0.974811,0.971685,0.925658,0.980218,0.963747,0.986499,0.973171,0.965726,0.980376,0.988613,0.969986,0.991937,0.978079
1,0.986580,0.946374,0.971014,0.979690,0.901463,0.990355,0.934352,0.999112,0.945499,0.956881,0.971742,0.996483,0.943472,1.007142,0.940204
2,0.992693,0.949067,0.978341,0.999622,0.959530,0.953035,0.938855,0.996631,0.965780,0.948968,0.979227,0.993807,0.976316,1.016864,0.987808
3,0.998764,0.964784,0.998905,1.018574,0.998623,0.940099,0.961701,0.999753,0.979661,0.957918,0.987158,0.985726,1.003143,1.023139,1.006044
4,0.995777,1.007581,1.063331,1.028391,1.062498,0.941291,1.013385,0.993295,1.017953,0.972476,0.999270,0.973942,1.065570,1.013405,1.057872

In [41]:
df_close.iloc[0:140,:] = df_open.iloc[1:,:].values

/Users/chu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/chu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
df_close

,Asia Bond close,Asia Equity close,Creat China Equity close,EmgMkt Bond close,EmgMkt Equity close,Europe Bond close,Europe Equity close,Global Bond close,Global Equity close,HY Bond close,Multi Asset close,Other Bond close,Other Equity close,US Bond close,US Equity close
0,0.986580,0.946374,0.971014,0.979690,0.901463,0.990355,0.934352,0.999112,0.945499,0.956881,0.971742,0.996483,0.943472,1.007142,0.940204
1,0.992693,0.949067,0.978341,0.999622,0.959530,0.953035,0.938855,0.996631,0.965780,0.948968,0.979227,0.993807,0.976316,1.016864,0.987808
2,0.998764,0.964784,0.998905,1.018574,0.998623,0.940099,0.961701,0.999753,0.979661,0.957918,0.987158,0.985726,1.003143,1.023139,1.006044
3,0.995777,1.007581,1.063331,1.028391,1.062498,0.941291,1.013385,0.993295,1.017953,0.972476,0.999270,0.973942,1.065570,1.013405,1.057872
4,1.001897,1.009098,1.025811,1.037196,1.093690,0.955644,1.041478,0.999359,1.026005,0.982035,0.990762,0.950960,1.064624,1.026098,1.040447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,1.561954,2.111925,2.439274,1.684153,2.182835,1.365327,1.532417,1.489812,1.469596,1.630093,1.670391,1.326431,1.948865,1.556604,1.994990
137,1.571947,2.143227,2.479009,1.705363,2.193447,1.369161,1.543149,1.495882,1.479294,1.644154,1.683946,1.347258,1.983155,1.564829,1.995663
138,1.562974,2.115647,2.431525,1.694955,2.241985,1.329432,1.519803,1.490146,1.452063,1.639385,1.659715,1.336677,1.921071,1.556892,1.953598
139,1.519791,2.050475,2.392318,1.609499,2.084094,1.278104,1.498873,1.455816,1.459262,1.610995,1.631856,1.279128,1.935627,1.518934,2.068393
140,-0.004972,-0.008092,-0.038824,0.011322,0.001646,-0.001908,0.053209,0.003231,0.014332,0.006976,0.001157,0.009814,0.011475,0.243132,0.016400

In [43]:
df_close.loc[140] = df_close.loc[139] * (1+df_close.loc[140])

/Users/chu/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/chu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [44]:
df_close

,Asia Bond close,Asia Equity close,Creat China Equity close,EmgMkt Bond close,EmgMkt Equity close,Europe Bond close,Europe Equity close,Global Bond close,Global Equity close,HY Bond close,Multi Asset close,Other Bond close,Other Equity close,US Bond close,US Equity close
0,0.986580,0.946374,0.971014,0.979690,0.901463,0.990355,0.934352,0.999112,0.945499,0.956881,0.971742,0.996483,0.943472,1.007142,0.940204
1,0.992693,0.949067,0.978341,0.999622,0.959530,0.953035,0.938855,0.996631,0.965780,0.948968,0.979227,0.993807,0.976316,1.016864,0.987808
2,0.998764,0.964784,0.998905,1.018574,0.998623,0.940099,0.961701,0.999753,0.979661,0.957918,0.987158,0.985726,1.003143,1.023139,1.006044
3,0.995777,1.007581,1.063331,1.028391,1.062498,0.941291,1.013385,0.993295,1.017953,0.972476,0.999270,0.973942,1.065570,1.013405,1.057872
4,1.001897,1.009098,1.025811,1.037196,1.093690,0.955644,1.041478,0.999359,1.026005,0.982035,0.990762,0.950960,1.064624,1.026098,1.040447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,1.561954,2.111925,2.439274,1.684153,2.182835,1.365327,1.532417,1.489812,1.469596,1.630093,1.670391,1.326431,1.948865,1.556604,1.994990
137,1.571947,2.143227,2.479009,1.705363,2.193447,1.369161,1.543149,1.495882,1.479294,1.644154,1.683946,1.347258,1.983155,1.564829,1.995663
138,1.562974,2.115647,2.431525,1.694955,2.241985,1.329432,1.519803,1.490146,1.452063,1.639385,1.659715,1.336677,1.921071,1.556892,1.953598
139,1.519791,2.050475,2.392318,1.609499,2.084094,1.278104,1.498873,1.455816,1.459262,1.610995,1.631856,1.279128,1.935627,1.518934,2.068393
140,1.512235,2.033883,2.299438,1.627721,2.087525,1.275665,1.578626,1.460520,1.480176,1.622233,1.633745,1.291681,1.957837,1.888235,2.102314

In [45]:
df = df.drop(df.columns[close_L], axis = 1)

In [46]:
df = pd.concat([df,df_close], axis = 1)

In [47]:
df = df.reindex(sorted(df.columns), axis=1)

In [48]:
df

,Asia Bond close,Asia Bond high,Asia Bond low,Asia Bond open,Asia Bond volume,Asia Equity close,Asia Equity high,Asia Equity low,Asia Equity open,Asia Equity volume,...,US Bond close,US Bond high,US Bond low,US Bond open,US Bond volume,US Equity close,US Equity high,US Equity low,US Equity open,US Equity volume
0,0.986580,0.981128,0.969874,0.973767,1,0.946374,1.007458,0.887164,0.960927,1,...,1.007142,0.999604,0.979667,0.991937,1,0.940204,1.002786,0.957472,0.978079,1
1,0.992693,0.999035,0.978498,0.986580,1,0.949067,1.033856,0.824377,0.946374,1,...,1.016864,1.038226,0.981557,1.007142,1,0.987808,0.996095,0.879653,0.940204,1
2,0.998764,1.015119,0.979470,0.992693,1,0.964784,1.102155,0.792283,0.949067,1,...,1.023139,1.070787,0.981557,1.016864,1,1.006044,1.084371,0.892034,0.987808,1
3,0.995777,1.023289,0.983919,0.998764,1,1.007581,1.150068,0.747567,0.964784,1,...,1.013405,1.093955,0.980621,1.023139,1,1.057872,1.139001,0.867061,1.006044,1
4,1.001897,1.023800,0.977297,0.995777,1,1.009098,1.297207,0.727353,1.007581,1,...,1.026098,1.096059,0.947453,1.013405,1,1.040447,1.239699,0.888079,1.057872,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,1.561954,16.307487,0.103639,1.555739,1,2.111925,97760.934212,0.000022,2.091014,1,...,1.556604,67.933025,0.032404,1.556084,1,1.994990,216.875142,0.010702,1.978563,1
137,1.571947,16.508995,0.102036,1.561954,1,2.143227,103675.470732,0.000020,2.111925,1,...,1.564829,68.534188,0.031963,1.556604,1,1.995663,223.836591,0.010492,1.994990,1
138,1.562974,17.195903,0.101321,1.571947,1,2.115647,113306.921963,0.000019,2.143227,1,...,1.556892,71.640158,0.031481,1.564829,1,1.953598,232.919206,0.010227,1.995663,1
139,1.519791,17.498970,0.099143,1.562974,1,2.050475,123791.454180,0.000017,2.115647,1,...,1.518934,73.391954,0.030102,1.556892,1,2.068393,235.077746,0.009651,1.953598,1
140,1.512235,17.437724,0.092756,1.519791,1,2.033883,131317.974594,0.000015,2.050475,1,...,1.888235,73.076368,0.027630,1.518934,1,2.102314,266.026108,0.009694,2.068393,1

In [49]:
reorder = list(df.columns)

In [50]:
tmp = reorder.copy()

In [51]:
for i in range(15):
    tmp[5*i] = reorder[3+5*i]

In [52]:
for i in range(15):
    tmp[3+5*i] = reorder[5*i]

In [53]:
df = df[tmp]

In [54]:
df

,Asia Bond open,Asia Bond high,Asia Bond low,Asia Bond close,Asia Bond volume,Asia Equity open,Asia Equity high,Asia Equity low,Asia Equity close,Asia Equity volume,...,US Bond close,US Bond high,Other Equity volume,US Bond open,US Equity low,US Equity close,US Equity high,US Bond volume,US Equity open,US Equity volume
0,0.973767,0.981128,0.969874,0.986580,1,0.960927,1.007458,0.887164,0.946374,1,...,1.007142,0.999604,0.015329,0.991937,0.957472,0.940204,1.002786,1,0.978079,1
1,0.986580,0.999035,0.978498,0.992693,1,0.946374,1.033856,0.824377,0.949067,1,...,1.016864,1.038226,0.009653,1.007142,0.879653,0.987808,0.996095,1,0.940204,1
2,0.992693,1.015119,0.979470,0.998764,1,0.949067,1.102155,0.792283,0.964784,1,...,1.023139,1.070787,0.006171,1.016864,0.892034,1.006044,1.084371,1,0.987808,1
3,0.998764,1.023289,0.983919,0.995777,1,0.964784,1.150068,0.747567,1.007581,1,...,1.013405,1.093955,-0.009514,1.023139,0.867061,1.057872,1.139001,1,1.006044,1
4,0.995777,1.023800,0.977297,1.001897,1,1.007581,1.297207,0.727353,1.009098,1,...,1.026098,1.096059,0.012524,1.013405,0.888079,1.040447,1.239699,1,1.057872,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,1.555739,16.307487,0.103639,1.561954,1,2.091014,97760.934212,0.000022,2.111925,1,...,1.556604,67.933025,0.000334,1.556084,0.010702,1.994990,216.875142,1,1.978563,1
137,1.561954,16.508995,0.102036,1.571947,1,2.111925,103675.470732,0.000020,2.143227,1,...,1.564829,68.534188,0.005284,1.556604,0.010492,1.995663,223.836591,1,1.994990,1
138,1.571947,17.195903,0.101321,1.562974,1,2.143227,113306.921963,0.000019,2.115647,1,...,1.556892,71.640158,-0.005073,1.564829,0.010227,1.953598,232.919206,1,1.995663,1
139,1.562974,17.498970,0.099143,1.519791,1,2.115647,123791.454180,0.000017,2.050475,1,...,1.518934,73.391954,-0.024381,1.556892,0.009651,2.068393,235.077746,1,1.953598,1
140,1.519791,17.437724,0.092756,1.512235,1,2.050475,131317.974594,0.000015,2.033883,1,...,1.888235,73.076368,0.000944,1.518934,0.009694,2.102314,266.026108,1,2.068393,1

In [55]:
df1 = pd.read_csv("./data/Data_preprocessing.csv")
df1 = df1.drop("Unnamed: 0", axis = 1)

In [56]:
df = df[df1.columns]

 # True Price csv

In [57]:
df.to_csv("training_data.csv")