In [148]:
import pandas as pd
import numpy as np

In [292]:
df = pd.read_csv("df_env_info.csv", index_col=[0])

In [199]:
df.head()

,reward,log_return,portfolio_value,return,rate_of_return,weights_mean,weights_std,weights,cost,long_position,short_position,price_change,market_value,date,steps,next_obs,DataTime
0,0.000000,0.000000,1.000000,1.020484,0.000000,0.032258,0.176595,[0.000e+00 0.000e+00 0.000e+00 9.995e-01 0.000...,0.0,1.000000,0.000000e+00,[1. 1.00216207 1.0571946 1.0227945 1...,1.020484,2005-03-01,1.0,[[[1. 1. 1. 1. ...,2005-03-01
1,-0.083178,-0.083178,0.920187,0.972461,-0.079813,0.032258,0.176643,[0.000e+00 0.000e+00 0.000e+00 9.998e-01 0.000...,0.0,0.920187,2.529658e-11,[1. 0.9867775 0.96640816 0.92016075 0...,0.992381,2005-03-01,2.0,[[[1. 1. 1. 1. ...,2005-04-01
2,0.085401,0.085401,1.002225,1.027102,0.089153,0.032258,0.176664,[0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...,0.0,1.002225,9.331857e-12,[1. 1.00905055 1.04609173 1.0891625 1...,1.019277,2005-03-01,3.0,[[[ 1.00000000e+00 1.00000000e+00 1.00000000...,2005-05-01
3,0.083327,0.083327,1.089315,1.029437,0.086897,0.032258,0.176674,[0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...,0.0,1.089315,4.730843e-12,[1. 1.01729683 1.07116863 1.08690678 1...,1.049281,2005-03-01,4.0,[[[1.00000000e+00 1.00000000e+00 1.00000000e+0...,2005-06-01
4,0.054389,0.054389,1.150202,1.045142,0.055895,0.032258,0.176678,[0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,0.0,1.150202,3.127626e-12,[1. 1.02239295 1.06448956 1.05589565 1...,1.096648,2005-03-01,5.0,[[[ 1. 1. 1. 1. ...,2005-07-01

In [200]:
df["weights"].loc[0] ##str?????

'[0.000e+00 0.000e+00 0.000e+00 9.995e-01 0.000e+00 0.000e+00 0.000e+00\n 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00\n 0.000e+00 5.000e-04 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00\n 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00\n 0.000e+00 0.000e+00 0.000e+00]'

In [201]:
for i in range(len(df.columns)):
    print(df.columns[i], type(df[df.columns[i]][0]))

reward <class 'numpy.float64'>
log_return <class 'numpy.float64'>
portfolio_value <class 'numpy.float64'>
return <class 'numpy.float64'>
rate_of_return <class 'numpy.float64'>
weights_mean <class 'numpy.float64'>
weights_std <class 'numpy.float64'>
weights <class 'str'>
cost <class 'numpy.float64'>
long_position <class 'numpy.float64'>
short_position <class 'numpy.float64'>
price_change <class 'str'>
market_value <class 'numpy.float64'>
date <class 'str'>
steps <class 'numpy.float64'>
next_obs <class 'str'>
DataTime <class 'str'>

In [202]:
df["weights"] = df["weights"].fillna(0)

In [203]:
df["weights"][0:4]

0    [0.000e+00 0.000e+00 0.000e+00 9.995e-01 0.000...
1    [0.000e+00 0.000e+00 0.000e+00 9.998e-01 0.000...
2    [0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...
3    [0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...
Name: weights, dtype: object

In [204]:
def numer(txt):
    txt = txt.replace(" ", ",")
    txt = txt.replace("\n", " ")
    
    import json
    txt = json.loads(txt)
    
    return txt

In [205]:
for i in range(4):
    df["weights"].loc[i] = numer(df["weights"].loc[i])

In [206]:
type(df["weights"][0:4][0])

list

In [207]:
df["weights"][4:40].head()

4    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
5    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
6    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
8    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
Name: weights, dtype: object

###

In [208]:
df["weights"][4].replace(" ", ",")

'[0.,0.,0.,1.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.,0.\n,0.,0.,0.,0.,0.,0.,0.]'

In [209]:
def numer_4(txt):
    txt = txt.replace(" ",",")
    txt = txt.replace("\n", "")
    txt = txt.replace(".","")
    
    import json
    txt = json.loads(txt)
    return txt

In [211]:
for i in range(4,40):
    df["weights"].loc[i] = numer_4(df["weights"].loc[i])

In [256]:
def numer_40(txt):
    txt = txt.replace("\n","")
    txt = txt.replace(" ",",")
    for i in range(2,10):
        txt = txt.replace(i*",","")
    txt = txt.replace(".,",",")
    txt = txt[:-2]+"]"
    
    import json
    txt = json.loads(txt)
    
    return txt

In [259]:
df["weights"][39:45]

39    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
40    [0.     0.     0.     0.     0.     0.     0. ...
41    [0.     0.     0.     0.0027 0.     0.     0. ...
42    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
43    [0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...
44    [0.000e+00 0.000e+00 0.000e+00 9.997e-01 0.000...
Name: weights, dtype: object

In [260]:
for i in range(2):
    df["weights"].loc[40+i] = numer_40(df["weights"].loc[40+i])

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:202: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [262]:
df["weights"][40:45]

40    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
41    [0, 0, 0, 0.0027, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
42    [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
43    [0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...
44    [0.000e+00 0.000e+00 0.000e+00 9.997e-01 0.000...
Name: weights, dtype: object

In [266]:
df["weights"].loc[42] = numer_4(df["weights"].loc[42])

In [272]:
df["weights"].loc[43:45]

43    [0.000e+00 0.000e+00 0.000e+00 9.999e-01 0.000...
44    [0.000e+00 0.000e+00 0.000e+00 9.997e-01 0.000...
45    [0.000e+00 0.000e+00 0.000e+00 9.994e-01 0.000...
Name: weights, dtype: object

In [275]:
for i in range(3):
    df["weights"].loc[43+i] = numer(df["weights"].loc[43+i])

In [279]:
for i in range(3):
    df["weights"].loc[46+i] = numer_40(df["weights"].loc[46+i])

46    [0, 0, 0, 0.9989, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
47    [0, 0, 0, 0.9979, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
48    [0, 0, 0, 0.9965, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
49    [0.     0.     0.     0.9946 0.     0.     0. ...
50    [0.     0.     0.     0.9925 0.     0.     0. ...
51    [0.     0.     0.     0.9901 0.     0.     0. ...
52    [0.     0.     0.     0.9865 0.     0.     0. ...
53    [0.     0.     0.     0.9828 0.     0.     0. ...
54    [0.     0.     0.     0.9791 0.     0.     0. ...
55    [0.     0.     0.     0.9736 0.     0.     0. ...
56    [0.     0.     0.     0.9669 0.     0.     0. ...
57    [0.     0.     0.     0.9577 0.     0.     0. ...
58    [0.     0.     0.     0.9469 0.     0.     0. ...
59    [0.     0.     0.     0.9303 0.     0.     0. ...
60    [0.     0.     0.     0.9083 0.     0.     0. ...
Name: weights, dtype: object

In [281]:
for i in range(15):
    df["weights"].loc[49+i] = numer_40(df["weights"].loc[49+i])

In [293]:
for i in range(len(df["weights"])):
    try:
        df["weights"].loc[i] = numer(df["weights"].loc[i])
    except:
        try:
            df["weights"].loc[i] = numer_4(df["weights"].loc[i])
        except:
            try:
                df["weights"].loc[i] = numer_40(df["weights"].loc[i])
            except:
                df["weights"].loc[i] = numer_400(df["weights"].loc[i])

JSONDecodeError: Expecting ',' delimiter: line 1 column 5 (char 4)

In [335]:
def numer_400(txt):    
    txt = txt.replace("\n","")
    txt = txt.replace(" ",",")
    for i in range(3,10):
        txt = txt.replace(i*",","")
    txt = txt[:-2] + "]"
    txt = txt.replace(".,",",")
    
    txt = json.loads(txt)
    return(txt)

In [343]:
df = pd.read_csv("df_env_info.csv", index_col=[0])
for i in range(len(df["weights"])):
    try:
        df["weights"].loc[i] = numer(df["weights"].loc[i])
    except:
        try:
            df["weights"].loc[i] = numer_4(df["weights"].loc[i])
        except:
            try:
                df["weights"].loc[i] = numer_40(df["weights"].loc[i])
            except:
                try:
                    df["weights"].loc[i] = numer_400(df["weights"].loc[i])
                except:
                    pass

In [349]:
for i in range(len(df["weights"])):
    if type(df["weights"].loc[i]) != list:
        print(i)

133
134
135
136
137
138
139
140

In [350]:
df["weights"][133:]

133    NaN
134    NaN
135    NaN
136    NaN
137    NaN
138    NaN
139    NaN
140    NaN
Name: weights, dtype: object

In [360]:
df["weights"].loc[:132]

0      [0.0, 0.0, 0.0, 0.9995, 0.0, 0.0, 0.0, 0.0, 0....
1      [0.0, 0.0, 0.0, 0.9998, 0.0, 0.0, 0.0, 0.0, 0....
2      [0.0, 0.0, 0.0, 0.9999, 0.0, 0.0, 0.0, 0.0, 0....
3      [0.0, 0.0, 0.0, 0.9999, 0.0, 0.0, 0.0, 0.0, 0....
4      [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                             ...
128    [0.0, 0.0, 0.0, 0.5139, 0.0005, 0.0, 0.0, 0.0,...
129    [0.0, 0.0, 0.0, 0.5096, 0.0005, 0.0, 0.0, 0.0,...
130    [0.0, 0.0, 0.0, 0.505, 0.0004, 0.0, 0.0, 0.0, ...
131    [0.0, 0.0, 0.0, 0.5014, 0.0004, 0.0, 0.0, 0.0,...
132    [0.0, 0.0, 0.0, 0.4993, 0.0004, 0.0, 0.0, 0.0,...
Name: weights, Length: 133, dtype: object

In [368]:
df["reward"].loc[:132]

0      0.000000
1     -0.083178
2      0.085401
3      0.083327
4      0.054389
         ...
128    0.004957
129    0.004150
130    0.040465
131    0.023826
132    0.008304
Name: reward, Length: 133, dtype: float64

In [357]:
## check the return

In [366]:
df_price = pd.read_csv("data/Data_preprocessoing_v2.csv", index_col = [0])

In [393]:
s = df_price['Creat China Equity open'][1]/df_price['Creat China Equity open'][0]

In [394]:
l = df_price['US Equity open'][1]/df_price['US Equity open'][0]

In [396]:
s*0.9995 + l*(1-0.9995)####????

0.9960881982071409

In [383]:
df["weights"].loc[:132][0]

[0.0,
 0.0,
 0.0,
 0.9995,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0005,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [400]:
print(df["weights"][0], df["reward"][1])

[0.0, 0.0, 0.0, 0.9995, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0005, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0] -0.08317816601885686

In [401]:
df_price['Creat China Equity open']

0      0.974811
1      0.971014
2      0.978341
3      0.998905
4      1.063331
         ...
136    2.346332
137    2.439274
138    2.479009
139    2.431525
140    2.392318
Name: Creat China Equity open, Length: 141, dtype: float64

In [402]:
df["reward"]

0      0.000000
1     -0.083178
2      0.085401
3      0.083327
4      0.054389
         ...
136         NaN
137         NaN
138         NaN
139         NaN
140         NaN
Name: reward, Length: 141, dtype: float64

In [410]:
df["price_change"][0]

'[1.         1.00216207 1.0571946  1.0227945  1.02367174 1.11864087\n 0.98541918 1.0412189  0.99118645 1.03129852 0.99400835 1.01211348\n 0.9866569  1.04565056 0.99169399 1.01379838 1.00216207 1.0571946\n 1.0227945  1.02367174 1.11864087 0.98541918 1.0412189  0.99118645\n 1.03129852 0.99400835 1.01211348 0.9866569  1.04565056 0.99169399\n 1.01379838]'

In [449]:
df["price_change"][:134]

0      [1.         1.00216207 1.0571946  1.0227945  1...
1      [1.         0.9867775  0.96640816 0.92016075 0...
2      [1.         1.00905055 1.04609173 1.0891625  1...
3      [1.         1.01729683 1.07116863 1.08690678 1...
4      [1.         1.02239295 1.06448956 1.05589565 1...
                             ...
129    [1.         1.02228348 1.02097956 1.01314659 1...
130    [1.         1.02010806 1.04745961 1.03595446 1...
131    [1.         1.00399498 1.01000018 1.03961185 1...
132    [1.         1.00639743 1.01482169 1.0162894  1...
133                                                  NaN
Name: price_change, Length: 134, dtype: object

In [461]:
print(df_price['Asia Bond open'][138]/df_price['Asia Bond open'][137])

1.0063974252587164

In [460]:
df["reward"][:134]

0      0.000000
1     -0.083178
2      0.085401
3      0.083327
4      0.054389
         ...
129    0.004150
130    0.040465
131    0.023826
132    0.008304
133         NaN
Name: reward, Length: 134, dtype: float64

In [441]:
df["weights"][:134]

0      [0.0, 0.0, 0.0, 0.9995, 0.0, 0.0, 0.0, 0.0, 0....
1      [0.0, 0.0, 0.0, 0.9998, 0.0, 0.0, 0.0, 0.0, 0....
2      [0.0, 0.0, 0.0, 0.9999, 0.0, 0.0, 0.0, 0.0, 0....
3      [0.0, 0.0, 0.0, 0.9999, 0.0, 0.0, 0.0, 0.0, 0....
4      [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                             ...
129    [0.0, 0.0, 0.0, 0.5096, 0.0005, 0.0, 0.0, 0.0,...
130    [0.0, 0.0, 0.0, 0.505, 0.0004, 0.0, 0.0, 0.0, ...
131    [0.0, 0.0, 0.0, 0.5014, 0.0004, 0.0, 0.0, 0.0,...
132    [0.0, 0.0, 0.0, 0.4993, 0.0004, 0.0, 0.0, 0.0,...
133                                                  NaN
Name: weights, Length: 134, dtype: object

In [455]:
df_price['Creat China Equity open'][6]/df_price['Creat China Equity open'][5]

1.022794504606185

In [456]:
df_price['Creat China Equity open'][6] *0.9995

1.0491937347013949

In [458]:
df_price['Creat China Equity open'][5]

1.0258108837858633

In [466]:
df["weights"][40]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.9999,
 0,
 0,
 0,
 0,
 0,
 0,
 0]