In [1]:
import pandas as pd
import numpy as np

In [2]:
name_L = pd.read_csv("./data/15_name_train_2005_03_01_MAX.txt")["Unnamed: 0"]

In [3]:
name_L

0     0P0000YSOP
1     0P00000BUK
2     0P00006AEP
3     0P00000EYU
4     0P000069JO
5     0P00000CN1
6     0P00002D9U
7     0P00000B1B
8     0P00000B0G
9     0P00000YVC
10    0P00006A9X
11    0P00006AMJ
12    0P00006AHQ
13    0P00000YPI
14    0P00000LYY
Name: Unnamed: 0, dtype: object

In [4]:
data_df = pd.read_csv("./data/raw_data.csv")

In [5]:
data_df = data_df[data_df["DATAYM"] >= "2005-03-01"]

In [6]:
date = pd.DataFrame(data_df[data_df["PERFORMANCEID"] == "0P0000YSOP"]["DATAYM"].reset_index()["DATAYM"])

for i in range(len(name_L)):
    tmp = data_df[data_df["PERFORMANCEID"] == name_L[i]]["RET1M"].reset_index()["RET1M"]
    tmp = pd.DataFrame(tmp).rename(columns = {"RET1M":name_L[i]})
    
    date = pd.concat([date,tmp], axis = 1)

In [7]:
date

,DATAYM,0P0000YSOP,0P00000BUK,0P00006AEP,0P00000EYU,0P000069JO,0P00000CN1,0P00002D9U,0P00000B1B,0P00000B0G,0P00000YVC,0P00006A9X,0P00006AMJ,0P00006AHQ,0P00000YPI,0P00000LYY
0,2005-03-01,-0.018872,0.007458,0.036852,-0.015151,-0.034411,-0.015631,-0.001935,0.001075,-0.013038,-0.015925,-0.002731,-0.000154,0.028765,-0.000396,0.002786
1,2005-04-01,0.018251,-0.000461,-0.013556,-0.001061,-0.039389,0.019860,-0.049632,0.010204,-0.026021,0.001901,-0.002776,-0.014694,-0.007988,0.017268,-0.045833
2,2005-05-01,0.016100,-0.029300,0.033570,-0.004248,0.078661,-0.036351,-0.008568,0.006380,0.006165,0.013678,-0.001830,0.026332,0.039003,0.006530,0.040757
3,2005-06-01,0.004542,0.028293,-0.008666,0.002667,0.039566,-0.009324,0.013580,0.008981,0.005311,0.009603,0.003153,0.019871,-0.008131,0.002692,0.030769
4,2005-07-01,-0.006730,0.007854,0.180639,0.007447,0.063433,-0.003451,0.037759,-0.003665,0.029663,0.002320,0.000058,0.001043,0.165934,-0.020306,0.031208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,2016-08-01,0.008600,-0.027935,0.030817,-0.000800,-0.007900,0.011398,0.008937,0.000300,0.019400,0.017400,0.020151,0.007774,0.041484,-0.006000,-0.008500
138,2016-09-01,-0.000200,0.082078,0.012460,0.005900,-0.018400,-0.002786,-0.023915,0.000000,0.005300,0.000900,-0.001194,0.006897,0.002043,0.005400,0.000000
139,2016-10-01,-0.007300,-0.001428,-0.013576,-0.004700,-0.008900,-0.055686,0.023593,-0.015300,-0.004200,0.005000,-0.020429,-0.011193,-0.028375,-0.006200,-0.018000
140,2016-11-01,-0.021000,-0.032695,-0.030907,-0.027500,-0.082900,-0.035685,-0.035904,-0.018700,0.020200,-0.008900,-0.024471,-0.023679,-0.050711,-0.020500,0.063800
141,2016-12-01,-0.002000,-0.022720,-0.030077,0.005500,-0.006100,-0.001924,0.123374,0.002500,0.022000,0.023100,-0.014174,-0.001826,-0.002419,-0.003000,0.028700

In [8]:
date.to_csv("./data/train_Stock_for_each_mkt.csv")